_/

# Created by .ignore support plugin (hsz.mobi)
# Source: https://gist.github.com/MOOOWOOO/3cf91616c9f3bbc3d1339adfc707b08a
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# idea folder, uncomment if you don't need it
.idea/
checkpoint.keras
metrics.csv

# Cannot save .keras Callbacks because of the size of the file
**/*.keras
**/*.html

# Specific to the project
TM_Group37_Report.docx
TM_LiteratureReview.xlsx
group_xx/
SolProj/
report_37.pdf
